<p id="notice"><%= notice %></p>

<h1>Re-Racking</h1>

<%= bootstrap_form_for(@activity) do |f| %>
  <div class="hidden">
    <%= f.text_field(:activity_type_id, :value => @activity_type.id, :readonly => true) %>
  </div>
  <input type="submit" class="btn btn-default" value="Start reracking" />
<% end %>

