<p id="notice"><%= notice %></p>

<h1>History <small>All</small></h1>

<%= will_paginate @steps, renderer: BootstrapPagination::Rails %>

<%= react_component('StepsFinished', { steps: steps_data_for_steps(@steps) }) %>

<%= will_paginate @steps, renderer: BootstrapPagination::Rails %>
