<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity_type.name %>
</p>

<%= bootstrap_link_to 'Edit', edit_activity_type_path(@activity_type) %> |
<%= bootstrap_link_to 'Back', activity_types_path %>
