<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @process_type.name %>
</p>

<%= link_to 'Edit', edit_process_type_path(@process_type) %> |
<%= link_to 'Back', process_types_path %>
