<span class="facts-list ">
  <span class="<%= facts.map{|f| [f.predicate,f.object].join('-')}.join(' ')%>">

  <% type = facts.select{|f| f.predicate == 'a'} %>
    <% if type.length > 0 %>
      <div class='svg '><%= svg type[0].object %></div>
    <% end %>
    <div class="col-xs-6">
  <% facts.each do |fact| %>
    <%= render :partial => 'facts/fact', :locals => { :fact => fact} %>
  <% end %>
    </div>
</span>
</span>
