<span class="facts-list ">
  <span data-psd-component-class="RackWellDisplay" data-psd-component-parameters="<%= data_rack_display(facts) %>">
    <div class='svg '><%= svg Asset.class_type(facts) %></div>
    <div class="col-xs-10">
  <% facts.unique.each do |fact| %>
    <%= render :partial => 'facts/fact', :locals => { :fact => fact} %>
  <% end %>
    </div>
</span>
</span>
