<h3> Active step </h3>
<ul>
  <% unless step_types.nil? || step_types.empty? %>
    <%= render :partial => 'step_types/step_type', :locals => {
      :step_types => step_types,
      :activity => activity} %>
  <% else %>
    There is no paths to follow for this barcode
  <% end %>
</ul>
