<ul class="list-inline">
<% step_types.each do |step_type| %>
  <li>
    <%= bootstrap_form_for @activity, action: 'update' do |f| %>
      <input type="hidden" name="step_type" value="<%= step_type.id %>" />
      <!-- %= render :partial => 'barcode_reader' % -->
      <%= f.submit step_type.name, :class => 'btn btn-primary' %>
    <% end %>
  </li>
<% end %>
</ul>
