<% step_types.each do |step_type| %>
  <li>
    <%= step_type.name %>

    <%= bootstrap_form_for @activity, action: 'update' do |f| %>
      <input type="hidden" name="step_type" value="<%= step_type.id %>" />
      <!-- %= render :partial => 'barcode_reader' % -->
      <%= f.submit "Next" %>
    <% end %>
  </li>
<% end %>
