<div data-psd-component-class="DisplayError"></div>
<h1>Editing Step Type</h1>

<%= render 'form', step_type: @step_type %>

<%= bootstrap_link_to 'Show', @step_type %>
<%= bootstrap_link_to 'Back', step_types_path %>
