<div class="fact" data-psd-component-class="DeleteIcon">
  <span class="label label-default">
    <span class=" <%= cssClasses %>"></span>&nbsp;
    <span><%= predicate %>:<%= object %></span>
    <span data-psd-delete-icon='true'>&times;</span>
  </span>
</div>
