<input data-psd-fact-reader-text-input="true" type="text" name="object"
class="form-control" aria-label="...">
<div class="input-group-btn">
  <button data-psd-fact-reader-add="true" type="button" class="btn btn-default form-control">Add</button>
</div>
