<div class="facts-searcher" style="position:relative;">
  <label for="fact_searcher" class="input">
    <span class="content readonly"></span>
    <span class="cursor" style="display:none;">|</span>
  </label>
  <div>
  <input id="fact_searcher" name="fact_searcher" type="text" />
  </div>

</div>
