<div id='container-search-side-box' class='alert' style='display:none;width:400px;overflow-y:scroll;height:780px;'>
  <button data-dismiss='alert'  class='close pull-right'>&times;</button>
  <div></div>
</div>