// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

.step_types_active .panel-header {
  position: relative;
  padding-top: 1em;
  padding-left: 1em;
}

form.edit_asset_group .panel-header {
  padding: 10px 15px;
  background-color: #f5f5f5;
  /*border-top: 1px solid #ddd;*/
  border-bottom: 1px solid #ddd;
}

body.logged-off ul.step-selection input {
  pointer-events:none;
  opacity: 0.65;
}

.with-bottom-margin {
  margin-bottom: 1em;
}


.condition-group-label {
  @extend .alert-success;

  border-style: solid;
  border-radius: 7px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-width: 2px;
  /*margin-bottom: 0.5em;*/
  /* margin-left: 1em;*/

  height: 8em;
  overflow: hidden;
}

.condition-group-label .type-name {padding-left: 2em;}

/* .condition-group-label:hover {*/
.condition-group-label {
  height: auto;
  z-index:10;
  /*position:absolute;*/
  cursor:context-menu;
}


.condition-group-label .row { margin-left: 0px; }
.condition-group-container {
  padding-left: 1em !important;
  padding-top: 1em !important;
  /* padding-right: 1em; */
}

.not-matched .condition-group-label { @extend .alert-danger; }
.not-matched .condition-group-label.matched-group { @extend .alert-warning; }
.not-matched .condition-group-label.matched-group.empty-group { @extend .alert-info; }

.not-matched .nav.nav-pills {margin-bottom: 0.5em; margin-left: 0.5em;}

.condition-group {
  border-style: dashed;
  border-width: 1px;
  border-color: #bbb;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 0.5em;
  border-radius: 6px;
  margin-left: 1.5em;
  margin-top: 1em;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}


.asset-groups .tab-pane.active form .panel {
  border-top-width: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

}
.asset-groups .nav li.active a {background-color: #f5f5f5 !important;}

table.steps-table tr.operations div.react-toggle {
  border-style: none;
  cursor: pointer;
}
table.steps-table tr.operations svg {
  cursor: pointer;
}
table.steps-table tr.operations div.react-toggle-track {
  border-style: none;
}
table.steps-table tr.operations div.react-toggle-track-check {
  border-style: none;
}

.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4D4D4D;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: #19AB27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128D15;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  background-color: #FAFAFA;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19AB27;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
  -moz-box-shadow: 0px 0px 3px 2px #0099E0;
  box-shadow: 0px 0px 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
  -moz-box-shadow: 0px 0px 5px 5px #0099E0;
  box-shadow: 0px 0px 5px 5px #0099E0;
}
