// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

#step_types_active .panel-header {
  position: relative;
  padding-top: 1em;
  padding-left: 1em;
}

form.edit_asset_group .panel-header {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

body.logged-off ul.step-selection input {
  pointer-events:none;
  opacity: 0.65;
}

.with-bottom-margin {
  margin-bottom: 1em;
}


.condition-group-label {
  @extend .alert-success;

  border-style: solid;
  border-radius: 7px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-width: 2px;
  margin-bottom: 0.5em;
  margin-left: 1em;
}

.not-matched .condition-group-label { @extend .alert-danger; }
.not-matched .condition-group-label.matched-group { @extend .alert-warning; }
.not-matched .condition-group-label.matched-group.empty-group { @extend .alert-info; }

.not-matched .nav.nav-pills {margin-bottom: 0.5em; margin-left: 0.5em;}

.condition-group {
  border-style: dashed;
  border-width: 1px;
  border-color: #bbb;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 0.5em;
  border-radius: 6px;
  margin-left: 1.5em;
  margin-top: 1em;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}


