/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dropzone/dropzone
 * require peek
 * require peek/views/performance_bar
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/*.navbar .nav .underlined {
    border-color: #e7e7e7;
    border-style: solid;
    border-left: transparent;
    border-right: transparent;
}*/

.main-view {
  padding-left: 2em;
  padding-right: 2em;
}

.main-view form {
  padding-bottom: 1em;
}
.main-view .panel-body {
  padding-bottom: 0px;
}
.main-view table {
  margin-bottom: 0px;
}

.empty-description { margin-bottom: 1em;}

.main-view table tbody tr td { padding-top: 1em;}

div#error_explanation {
  h2 { @extend .alert-danger; @extend .alert;}
  @extend .alert-danger;
  @extend .alert;
}

p#notice { display:none;}
p#danger { display:none;}

form.activity-desc {margin-top: 1em; margin-bottom: 1em;}
form.activity-desc label { margin-right: 1em; }
form.activity-desc .form-group {margin-right: 0.5em; }

.file-row div.upload-buttons { margin-bottom: 0.5em; }
.previews { margin-top: 0.5em;}

.main-view .custom-dropzone {
  margin-bottom: 0.5em;
  min-height: 150px;
  border: 1px dashed rgba(0, 0, 0, 0.3);
  background: white;
  padding: 20px 20px;
  box-sizing: border-box;
}

table.steps-table {
  tr { cursor: pointer;}
  tr.operations td {padding-top: 0px; padding-bottom: 0px;}

  tr.operations {
    margin-left: 1em;
    margin-right: 1em;
    table {

      border-left: 1px;
      border-right: 1px;
      border-style: solid;
      border-top: 0px;
      border-bottom: 0px;
      border-color: rgba(0, 0, 0, 0.3);

    }
    div {
      border-bottom: 1px;
      border-left: 0px;
      border-right: 0px;
      border-top: 0px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.3);
    }
  }
  tr.clickable > td {
    border-top:0px;
    border-bottom:0px;
    border-left:1px;
    border-right:1px;
    border-style: solid;
    border-color: lightgray;
  }
  margin-bottom: 1em;
}

div.fact {
  margin-top: 4px;
  margin-left: 4px;
  float:left;
  span.label {
    font-size: 90%;
    font-weight: normal;
    /*box-shadow: 3px 3px 5px grey;*/
    }
}

header, .blurheader {
    background: rgba(255, 255, 255, .6);
    height: 88px;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom:1px solid rgba(0, 0, 0, .2);
    z-index: 10000000000;
}


/**
* Glyphicon spinner
**/
.glyphicon.fast-right-spinner {
    -webkit-animation: glyphicon-spin-r 1s infinite linear;
    animation: glyphicon-spin-r 1s infinite linear;
}

.glyphicon.normal-right-spinner {
    -webkit-animation: glyphicon-spin-r 2s infinite linear;
    animation: glyphicon-spin-r 2s infinite linear;
}

.glyphicon.slow-right-spinner {
    -webkit-animation: glyphicon-spin-r 3s infinite linear;
    animation: glyphicon-spin-r 3s infinite linear;
}

.glyphicon.fast-left-spinner {
    -webkit-animation: glyphicon-spin-l 1s infinite linear;
    animation: glyphicon-spin-l 1s infinite linear;
}

.glyphicon.normal-left-spinner {
    -webkit-animation: glyphicon-spin-l 2s infinite linear;
    animation: glyphicon-spin-l 2s infinite linear;
}

.glyphicon.slow-left-spinner {
    -webkit-animation: glyphicon-spin-l 3s infinite linear;
    animation: glyphicon-spin-l 3s infinite linear;
}

@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes glyphicon-spin-l {
    0% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes glyphicon-spin-l {
    0% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.icon-size
{
    font-size: 6em;
}

.navbar-login
{
    /*width: 25em;*/
    padding: 1em;
    padding-bottom: 0px;
}

.navbar-logout
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.user-status .dropdown-menu {
	     padding-left: 1em;
	     padding-right: 1em;
}


.well div.fact { display:inline; float:none;}

.activity-step-types { padding-left: 2em;}


/* images */

.facts-list svg { width: 50px; height: 50px; float:left; }
.facts-list svg.enlarge { width: 300px; height: 300px;}


svg {
  .is-used,.is-Used             { fill-opacity: 0.7 !important; background-color: #f5f5f5 !important;  }
  .is-empty,.is-Empty             { fill-opacity: 0.3 !important; background-color: #f5f5f5 !important; }
  .is-full,.is-Full              { fill: #5bb75b; background-color: #5bb75b; }
  .resource-not-data { fill: #49afcd; background-color: #49afcd; }
  .data-not-resource { fill: #da4f49; background-color: #da4f49; }
  .resource-and-data { fill: #5bb75b; background-color: #5bb75b; }

  .has-error,.has-Error     { fill: #ff0000; background-color: #ff0000; }
  .is-very-poor,.is-VeryPoor { fill: hsl(120, 100%, 75%); background-color: hsl(120, 100%, 75%); }
  .is-poor,.is-Poor      { fill: hsl(120, 100%, 50%); background-color: hsl(120, 100%, 50%); }
  .is-good,.is-Good      { fill: hsl(120, 100%, 30%); background-color: hsl(120, 100%, 30%); }
  .is-very-good,.is-VeryGood { fill: hsl(120, 100%, 20%); background-color: hsl(120, 100%, 20%); }
  .is-excellent,.is-Excellent { fill: hsl(120, 100%, 10%); background-color: hsl(120, 100%, 10%); }

  .has-dna,.has-DNA,.dna,.DNA   { fill: hsl(120, 45%, 58%);  background-color: hsl(120, 45%, 58%); }
  .has-dnap,.has-DNAP,.dnap,.DNAP { fill: hsl(120, 34%, 25%);  background-color: hsl(120, 34%, 25%); }
  .has-rna,.has-RNA,.rna,.RNA   { fill: hsl(3, 60%, 46%);    background-color: hsl(3, 60%, 46%); }
  .has-rna_p,.has-RNAP,.rnap,.RNAP { fill: hsl(3, 60%, 25%);    background-color: hsl(3, 60%, 25%); }
  .has-na_p,has-NAP,.nap,.NAP  { fill: hsl(194, 59%, 45%);  background-color: hsl(194, 59%, 45%); }
  .has-blood,.has-Blood,.blood,.BLOOD {
    fill: red;

  }
  .unknown-aliquot { fill: gray;}

  ellipse.error { stroke: red !important;}
  .editing { fill: lightblue; }
  .editing.edited { fill: lightblue;}
  .edited {fill: gray;}
  .empty-edited {fill: black;}

  ellipse:hover { fill: white !important;}
  ellipse.active { fill: white !important;}
  .a1_dna .A1 { @extend .has-dna; }
}


/**
* Navbar
*/

@media (max-width: 767px){
  body nav .navbar-right .user-status { display:none;}
  body nav .navbar-header .user-status { 
    display:block; position:relative; float:right;
    margin-top: 8px; margin-right: 0.5em;
    .user-status-description-text { display:none;}
    .dropdown-menu {left: auto; right: 0;}
    div.form-group {margin-bottom: 0px;}
  }

}

@media (min-width: 768px){
  body nav .navbar-right .user-status { display:inline-block;}
  body nav .navbar-header .user-status { display:none;}
}


@media (min-width: 768px)
{
  body nav {
    .container-fluid {
      border-bottom: 1px solid;
      border-color: #e7e7e7;
    };
    .navbar-collapse {
      background-color: #fff;
      border-radius: 4px;
    };
  };
}

div.fact span.to_add { };
div.fact .object-reference { color: #eee; background-color: #777777; text-decoration: underline;}
div.fact span.to_remove { color:silver; text-decoration: line-through;};

.navbar-login i.role { text-transform: capitalize;}

nav.navbar ul.nav > li {display: none;}
body .anonymous-allowed { display: inline-block !important;}
body .operator-allowed { display: none;}
body .administrator-allowed { display: none;}
body.operator-role .operator-allowed {display:inline-block !important;}
body.administrator-role .administrator-allowed {display:inline-block !important;}
body.administrator-role .operator-allowed {display:inline-block !important;}


form.edit_asset_group .barcode-adding-control { width: 100%;}
form.edit_asset_group .barcode-adding-control { @extend .operator-allowed; }
body .btn { @extend .operator-allowed; }
body nav .btn { @extend .anonymous-allowed; }

.asset .panel-heading {display: none;}
.asset small {display: none;}

div.fact a.active.object-reference  {color:orange;}

.no-compatible-steps-desc {font-size:11pt;}

#asset-group-container ul.nav-pills li.active a {background-color: #777777; color: #fff;}
#asset-group-container ul.nav-pills a { color: #666;}


svg { cursor: -webkit-zoom-in; }
svg.enlarge { cursor: -webkit-zoom-out; }

.step_types_active svg ellipse { cursor: pointer;}
.step_types_active svg { cursor: default;}

.facts-list svg.enlarge { height: 150px;}


.fact {cursor: pointer;}

.max-svg-size { max-width: 500px;}