/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dropzone/dropzone
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/*.navbar .nav .underlined {
    border-color: #e7e7e7;
    border-style: solid;
    border-left: transparent;
    border-right: transparent;
}*/

.main-view {
  padding-left: 2em;
  padding-right: 2em;
}

.main-view form {
  padding-bottom: 1em;
}
.main-view .panel-body {
  padding-bottom: 0px;
}
.main-view table {
  margin-bottom: 0px;
}

.empty-description { margin-bottom: 1em;}

.main-view table tbody tr td { padding-top: 1em;}

div#error_explanation {
  h2 { @extend .alert-danger; @extend .alert;}
  @extend .alert-danger;
  @extend .alert;
}

p#notice { display:none;}
p#danger { display:none;}

form.activity-desc {margin-top: 1em; margin-bottom: 1em;}
form.activity-desc label { margin-right: 1em; }
form.activity-desc .form-group {margin-right: 0.5em; }

.file-row div.upload-buttons { margin-bottom: 0.5em; }
.previews { margin-top: 0.5em;}
