<div class="form-group">
  <%= label_tag :tube_printer_select, 'Tube Printer' %>
  <%= select_tag :tube_printer_select, options_for_select(Printer.for_tube.map{|a| [a.name, a.id]}, @current_user ? @current_user.tube_printer.id : nil), :class => 'form-control' %>
</div>
<div class="form-group">
  <%= label_tag :plate_printer_select, 'Plate Printer' %>
  <%= select_tag :plate_printer_select, options_for_select(Printer.for_plate.map{|a| [a.name, a.id]}, @current_user ? @current_user.plate_printer.id : nil), :class => 'form-control' %>
</div>
<script type="text/javascript">
(function() {
  $('#tube_printer_select').on('change', $.proxy(function() {
    $('.tube_printer').val($('#tube_printer_select').val());
  }, this));
  $('#plate_printer_select').on('change', $.proxy(function() {
    $('.plate_printer').val($('#plate_printer_select').val());
  }, this));
}());
</script>
