<p id="notice"><%= notice %></p>
 <%= react_component('Activity',  @activity.initial_json_attributes(@current_user)) %>

  <% unless @activity.finished? %>
    <%= bootstrap_form_for @activity, action: 'update', :html => {:class => 'operator-allowed'} do |f| %>
      <div class="hidden">
        <%= f.text_field(:state, :value => "finish", :readonly => true) %>
      </div>
      <input type="submit" class='btn btn-danger' value="Finish activity?" /> &nbsp;
    <% end %>
  <% end %>
