<p id="notice"><%= notice %></p>
 <%= react_component('Activity',  @activity.initial_json_attributes(@current_user)) %>

  <% unless @activity.finished? %>
    <%= bootstrap_form_for @activity, action: 'update', :html => {:class => 'operator-allowed'} do |f| %>
      <input type="hidden" name="user_barcode" value="" />
      <button name="finish" class='btn btn-danger'>Finish activity?</button> &nbsp;
    <% end %>
  <% end %>
<%= bootstrap_link_to 'Back', :back %>
