<%= bootstrap_form_for @activity, action: 'update', class: 'step-template-form' do |f| %>
  <input type="hidden" name="step_type" value="<%= step_type.id %>" />
  <input type="hidden" name="user_barcode" value="" />
  <input type="hidden" name='step_params[state][in_progress]' value='true' />


<div data-psd-component-class="SourceToDestination" data-psd-component-parameters='{"template": "templates/source_to_destination", "names": <%= step_type.condition_groups.map(&:name) %>, "identifiers": <%= step_type.condition_groups.map(&:id) %>, "pairingName": "step_params[pairings]"}'></div>

<% end %>

