<div class="jumbotron">
  <h1><%= t('.title', model_name: model_name) %></h1>
  <p><%= t('.body', model_name: model_name.pluralize) %></p>
  <p><a class="btn btn-primary btn-lg" href="<%= creation_link %>" role="button"><%= t('.creation_button', model_name: model_name)%></a></p>
</div>
