<nav class="navbar navbar-default" style=" ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a class="navbar-brand" href="/"><span style="">Samples Extraction</span></a>
    </div>
    <form class="navbar-form navbar-right search-form" role="search"
          method='get' action='<%= search_assets_path %>'>

      <div class="input-group">
        <div class="form-control searcher" data-psd-component-class="FactSearcher">
        </div>
        <div class="input-group-btn">
          <button type="submit" class="btn btn-default"><%= t('.search') %></button>
        </div>

        <!--input name="barcode" type="search" class="form-control"
        placeholder="< %= t('.barcode',default:'Type or scan barcode...') % >" -->
      </div>
      <%= render :partial => 'user_status_navbar' %>
      </div>
    </form>
    <script type="text/javascript">
    (function() {
      var form = $('.search-form');

      $(document).ready(function() {
        $(window).on('resize', function() {
          $('.main-view').height($(window).height()-200);
        });
        $('.main-view').height($(window).height()-200);
      });

      form.on('submit', function(e) {
        e.preventDefault();
        $.get({
          url: form.attr('action'),
          data: form.serialize(),
          success: function(html) {
            var containerSearchBox = $("<div id='container-search-side-box' class='alert' style='display:none;width:400px;overflow-y:scroll;height:780px;'></div>");
            var close = $("<button data-dismiss='alert'  class='close pull-right'>&times;</button>");
            containerSearchBox.append(close);
            var nodeSearch = $("<div></div>");
            nodeSearch.html(html);
            containerSearchBox.append(nodeSearch);
            containerSearchBox.show();
            containerSearchBox.css('display', 'table-cell');

            $('.main-view').height($(window).height()-200);
            $('.main-view').css('overflow', 'scroll');
            containerSearchBox.css('overflow', 'scroll');
            containerSearchBox.height($(window).height()-200);
            containerSearchBox.on('resize', function() {
              containerSearchBox.height($(window).height()-200);
            });
            containerSearchBox.insertAfter('.main-view');
          }
        });
      });
    }());
    </script>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1" style="
    ">
      <ul class="nav navbar-nav">
        <%
        [
          { :section => { :name => 'samples', css_class: 'anonymous-allowed', :options => [
            ['view_started', samples_started_index_path],
            ['view_not_started', samples_not_started_index_path]] } },
          { :section => { :name => 'kit_types', css_class: 'administrator-allowed', :options => [
            ['new', new_kit_type_path],
            ['show', kit_types_path]] } },
          { :section => { :name => 'kits', css_class: 'administrator-allowed', :options => [
            ['new',  new_kit_path],
            ['show', kits_path]] } },
          { :section => { :name => 'instruments', css_class: 'operator-allowed', :options => [
            ['new', new_instrument_path],
            ['show', instruments_path]] } },
          { :section => { :name => 'activity_types', css_class: 'administrator-allowed', :options => [
            ['new', new_activity_type_path],
            ['show', activity_types_path]] } },
          { :section => { :name => 'step_types', css_class: 'administrator-allowed', :options => [
            ['new', new_step_type_path],
            ['show', step_types_path]] } },
          { :section => { :name => 'history', css_class: 'anonymous-allowed', :path => history_index_path}},
          { :section => { :name => 'admin', css_class: 'administrator-allowed', :options => [
            ['show users',  users_path],
            ['show labware', assets_path]] } },
          { :section => { :name => 'reracking', css_class: 'operator-allowed', :path => reracking_index_path}}
        ].each do |obj| %>
          <%= render :partial => 'menu_section', :locals => obj %>
          <% end %>
    </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
