<form data-psd-component-class="FactSearcherLightweight" role="search"
  class="input-group"
  method='get' action='<%= search_assets_path %>'>
  <input id="fact_searcher" name="fact_searcher" class="form-control searcher" type="text" autocomplete="off" />

  <span class="input-group-btn">
    <button type="submit" class="btn btn-primary"><%= t('.search') %></button>
  </span>
</form>
